API_KEY=butterflyburger
CONTROL_PLANE_URL=https://test.quantumboost-dev-environment.dev/
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_DEFAULT_REGION=eu-west-2
CLUSTER_NAME=Multinode
SUBNET_IDS=subnet-07350b22534e0f5f8
SECURITY_GROUP_IDS=sg-0583d500dc1d94f2e
ASSIGN_PUBLIC_IP=true
TASK_ROLE_ARN=arn:aws:iam::921216064263:role/MultinodeTaskRole
EXECUTION_ROLE_ARN=arn:aws:iam::921216064263:role/ecsTaskExecutionRole
LOG_GROUP=/ecs/multinode-dev